<h1>Create a New Task</h1>
<form action="/tasks" method="post">
  <p>Enter a new task:</p>
  <input type="text" name="task[title]" /></br>
  <textarea name="task[description]">Enter description</textarea></br>
  <p><input type="submit" value="submit"></p>
</form>
